<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>
        StockCheck - {% block title %} {% endblock %}

    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div id='container'>
        {% block header %}
    <div id="headerLink">
        <h1><a href="{% url 'home_page' %}">StockCheck </a></h1>
    </div>
    {% endblock %}

    {% block nav %}
    <nav>
        {% if not user.is_authenticated %}
        <div class='outer'>
            <a class='inner' href="{% url 'login' %}">Login</a>
            <a class='inner' href="{% url 'signup' %}">Create Account</a>
        </div>
        {% elif user.is_authenticated %}
        <div class='outer'>
            <a class='inner' href="{% url 'dashboard' %}">Dashboard</a>
            <a class='inner' href="{% url 'management' %}">Account Management</a>
            <a class='inner' href="{% url 'logout' %}">Logout</a>
            <p style='display:inline' id='signedin'>Signed in as: {{ user.get_username }}</p>
        </div>

        {% endif %}
    </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}
    </div>

</body>


</html>