{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container-items">
    {% for products in UserProduct %}
    <a href="{% url 'edit_product' products.id %}">
        <div class="item">
            <p class="item-text">Product Name: {{ products.product_nickname }}</p>
            <p class="item-text">Price: ${{ products.product.current_price }}</p>
            <p class="item-text">{% if products.product.current_stock %}
                In Stock
                {% else %}
                Out of Stock
                {% endif %}
            </p>
        </div>
    </a>
    {% endfor %}
    <a href="{% url 'choose_supplier' %}">
        <div class="item add">
            <div id="horizontal"></div>
            <div id="vertical"></div>
        </div>
    </a>

</div>

{% endblock %}