{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <div class="container-items">
        {% for products in UserProduct %}
        <div class="item">
            <p class="item-text">Product Name: {{ products.product_name.product_name }}</p>
            <p class="item-text">Price: ${{ products.product_name.current_price }}</p>
            <p class="item-text">{% if products.product_name.current_stock == true %}
            In Stock
            {% else %}
                Out of Stock
            {% endif %}
            </p>
        </div>
        {% endfor %}
        <a href="{% url 'choose_supplier' %}">
            <div class="item add">
                <div id="horizontal"></div>
                <div id="vertical"></div>
            </div>
        </a>

    </div>

{% endblock %}