{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<div class="grid grid-cols-3 gap-2">		  
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>
    <div class="bg-white p-10 rounded">
        <p class="item-text">RTX 3080TI</p>
        <p class="item-text">DOLLA BILLS</p>
        <p class="item-text">IN STOCK??!?!</p>
    </div>

    <a href="{% url 'choose_supplier' %}">
        <div class="item add">
            <div id="horizontal"></div>
            <div id="vertical"></div>
        </div>
    </a>
</div>

{% endblock %}