body {
    background-color: #eeeeee;
}

#signedin {
    color: royalblue;
    padding: 1%;
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: calc(10px + 2vmin);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

}

#headerLink {
    color: royalblue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.center-block {
    text-align: center;
}

.outer {
    width: 100%;
}


#container {
    width: 75%;
    margin: auto;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.dashboard-buttons {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    width: 100%;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

th.required {
    font-weight: bold;
}

body {
    margin: 0;
    background: #EEEEEE;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#logo {
    float: left;
    padding: 10px 0;
}


nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li, #headerText {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: royalblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: blue;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: blue;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.inner {
    color: royalblue;
}

.spacer {
    display: inline-block;
    width: 100%;
    height: 1%;
}

.container {
    display: grid;
}

.container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    grid-row-gap: 4%;
}

.item {
    background-color: #a8c0ff;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 3%;
}

.add {
    background-color: #aab7e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#horizontal {
    background-color: #111111;
    position: relative;
    width: 40%;
    height: 10%;
    transform: translateX(-15%);
    border-radius: 5%;
}

#vertical {
    position: relative;
    background-color: #111111;
    height: 40%;
    width: 10%;
    margin-left: -25%;
    transform: translateX(-60%);
    border-radius: 5%;
}

.item-text {
    margin-top: 5%;
    margin-left: 5%;
}

