body {
    background-color: #DBF9FC;
}

a {
    color: rgb(231, 228, 228);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    background-color: #9bcef0; 
    border: 2px solid powderblue;
}

a:hover {
    color: blue;
}

p {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1, h1 {
    font-size: 2.175em!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2, h2 {
    font-size: 2.25em!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

.center-block {
    text-align: center;
}

nav {
    padding-top: 2%;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.25em!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.dashboard-buttons {
    display:block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    width: 100%;
}

#headerLink {
    padding: 20px;
}

select {
    width: 100%;
    padding:10px;
    border-radius:10px;
}